---
import json from '../data.json';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.svelte';
import BannerNav from '../components/BannerNav.svelte';
import VerticalNav from '../components/VerticalNav.svelte';
import VerticalList from '../components/VerticalList.svelte';
import Footer from '../components/Footer.svelte';


const {
  title,
  header,
  bannerNav,
  verticalNav,
  verticalList,
  footer
} = json;
---

<Layout title={title}>

  <div class="flex flex-v flex-wrap">
    <div class="hero flex flex-v vh-4-10">

      <Header title={title} {...header} client:load />

      <BannerNav {...bannerNav} client:load />

    </div>

    <div class="flex vh-6-10">
      <div class="wrap pad_b_2 smalls_pad_h_half">
        <div class="row">

          <VerticalNav {...verticalNav} client:load />

          <VerticalList {...verticalList} client:load />

        </div>
      </div>
    </div>
  </div>

  <Footer {...footer} client:load />
</Layout>
