---
import Layout from '$layouts/Layout.astro';
import Header from '$components/Header.astro';
import Footer from '$components/Footer.astro';
import VerticalNav from '$components/VerticalNav.svelte';
import VerticalList from '$components/VerticalList.svelte';
import json from '../app.json';


const { title, footer } = json;


declare global {
  interface Window {
    _paq:any;
  }
}
---

<Layout title={title}>

  <script>
    import { get } from 'svelte/store';
    import { stateCookie } from '$utils/stores';
    import { validateCookieValue, setLocalStateCookie, STATE_COOKIE_VALUE_WISCONSIN } from '$utils/stateCookie';

    // ensure LOCAL_STATE_COOKIE_KEY is always set
    // fallback to default Wisconsin value
    const initial = get(stateCookie);
    setLocalStateCookie( validateCookieValue(initial) ? initial : STATE_COOKIE_VALUE_WISCONSIN );

    // track page view
    const _paq = typeof window !== 'undefined' && window._paq || [];
    _paq.push(['trackPageView', stateCookie]);
  </script>

  <div class="flex flex-v flex-wrap animateIn">

    <Header />

    <div class="flex vh-6-10" style="z-index:1;">
      <div class="wrap overflow_h pad_b_2 smalls_pad_h_half">
        <div class="row">

          <VerticalNav client:load />

          <VerticalList client:load />

        </div>
      </div>
    </div>

  </div>

  <Footer footer={footer} />

</Layout>


<style>
  .animateIn {
    animation: fade-in 1000ms 600ms normal both;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>