---
import StateCookieToggleBtn from '../components/StateCookieToggleBtn.svelte';
import HeaderBackground from '../components/HeaderBackground.svelte';
import { STATE_COOKIE_VALUES } from '../utils/stateCookie';
import json from '../data.json';


const {
  title,
  header,
} = json;
const {
  ariaLabel,
  iconName
} = header;
---


<header class="header flex-center flex flex-v">

  <HeaderBackground iconName={iconName} title={title} />

  <h1 class="element-invisible">{ariaLabel}</h1>

  <div class="toggle-state-wrapper">
    {STATE_COOKIE_VALUES.map(state => <StateCookieToggleBtn state={state} client:load />)}
  </div>

</header>
