---
import HeaderImage from '$components/HeaderImage.svelte';
import HeaderLogo from '$components/HeaderLogo.svelte';
import BannerNav from '$components/BannerNav.svelte';
import StateCookieToggleBtn from '$components/StateCookieToggleBtn.svelte';
import { STATE_COOKIE_VALUES } from '$utils/stateCookie';
---


<div class="hero flex flex-v">

  <header class="header flex-center flex flex-v">

    <HeaderImage client:load />

    <HeaderLogo client:load />

    <div class="toggle_state_wrapper">
      {STATE_COOKIE_VALUES.map(state => <StateCookieToggleBtn state={state} client:load />)}
    </div>

    <BannerNav client:load />

  </header>

</div>


<style lang="scss">
  @import './src/styles/vars';

  .hero {
    overflow: hidden;
    position: relative;
    margin-bottom: -2px;
  }

  .header {
    flex-basis: 44vh;

    @media only screen and (min-width: (calc(640px/$base-px) * 1em)) {
      flex-basis: 45vh;
    }
  }

  .toggle_state_wrapper {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
</style>
